@model Category

@{
    ViewData["Title"] = " | Category";
}

<h1>Category</h1>

<table class="table table-bordered table-sm">
    <thead>
        <tr class="thead-dark">
            <th>@Model.FullName</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @foreach (var ba in Model.ProductCategories)
                {
                    <p>
                        <a asp-action="Details" asp-controller="Product"
                           asp-route-id="@ba.ProductId"
                           asp-route-slug="@ba.Product.Title.Slug()">
                            @ba.Product.Title
                        </a>
                    </p>
                }
            </td>
        </tr>
    </tbody>
</table>